{
  "app": {
    "app_name": "AltInSight ",
    "app_short_name": "AltInSight ",
    "app_version": "1.0.0",
    "app_author": "Gregory Chirikov",
    "app_email": "pvl.gigstudio@gmail.com",
    "default_charset": "UTF-8",
    "default_locale": "ru",
    "default_timezone": "Asia/Almaty",
    "favicon": "assets/images/gigicon.png",
    "apple_icon": "",
    "secret_key": "",
    "googleAnalytics": "UA-XXXXX-Y"
  },
  "debug_error":{
    "mode": "debug"
  },
  "events": {
    "0": {"title": "Информация", "class": "info"},
    "1": {"title": "Сообщение","class": "message"},
    "2": {"title": "Предупреждение","class": "warning"},
    "3": {"title": "Ошибка","class": "error"},
    "4": {"title": "Критическая ошибка","class": "fatal"}
  },
  "common": {
    "css": [
      "themes",
      "default",
      "login",
      "all"
    ],
    "js": [
      "main"
    ]
  },
  "database":{
    "dbversion": "m00000",
    "dbhost": "db",
    "dbport": "3306",
    "dbuser": "YOUR_DB_USER",
    "dbpass": "YOUR_DB_PASSWORD",
    "dbname": "altinsight"
  },
  "security": {
    "password_pattern": "(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}",
    "url_pattern": "https?://.+",
    "search_pattern": "[^'\\x22]+",
    "email_pattern": "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$",
    "tel_pattern": "[0-9]{3}-[0-9]{3}-[0-9]{4}",
    "random_pass_char": 9,
    "login_timeout": 30,
    "login_attempts": 3, 
    "encript_password": true,
    "password_algo": "PASSWORD_BCRYPT"
  },
  "tradernet": {
    "secret_key": "",
    "public_key": "",
    "login": "",
    "password": ""
  },
  "tickers": {
    "KCEL.KZ": {
      "id": "",
      "name":"Kcell", 
      "sector":"telecom", 
      "industry_id": "9", 
      "sectorname": "Телекоммуникации, связь"
    },
    "HSBK.KZ": {
      "id": "23817",
      "name":"Halyk Bank", 
      "sector":"bank",
      "industry_id": "43.647", 
      "sectorname": "Банк"
    },
    "KZAP.KZ": {
      "id": "",
      "name":"Kazatomprom", 
      "sector":"energy", 
      "industry_id": "46", 
      "sectorname": "Энергетика"
    }
  },
  "headhunter": {
    "protocol": "https",
    "base_url": "https://api.hh.ru/",
    "host": "hh.kz"
  },
  "dropbox_integrity": {
    "app_key": "YOUR_APP_KEY",
    "app_secret": "YOUR_APP_SECRET",
    "token": "YOUR_ACCESS_TOKEN"
  }
}
