*,:after,:before{box-sizing: border-box;}
.clearfix:after, .clearfix:before{
    content: ""; 
    display: table;
}
.clearfix:after{
    clear: both;
    display: block;
}

 body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
}
.overall{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.menu-holder{
    font-size: 14px;
    background-color: var(--menu-bg);
    color: var(--menu-forecolor);
}
.bottom{
    left: 0;
    width: 100%;
    min-height: 80px;
}
.console{
    position: relative;
    width: 100%;
    background-color: var(--console-bg);
    color: var(--console-text);
    border: outset 2px var(--text-gray);
}
.win-control{
    position: relative;
    width: 100%;
    height: 22px;
    padding-left: 8px;
    background-color: var(--winc-bg);
}
.winc-holder{
    float: right;
    height: 100%;
    line-height: 18px;
}
.winfilter-holder{
    display: inline-block;
    line-height: 22px;
}
.winc-btn{
    cursor: pointer;
    display: inline-block;
    border: solid 1px transparent;
    color: var(--console-text);
    text-align: center;
    min-width: 18px;
    height: 100%;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    transition: var(--transition-fast);
}
.actionbtn{
    border: solid 1px var(--console-text);
    border-radius: 4px;
    height: 18px;
    padding: 0 5px;
    font-size: 11px;
}
.winc-btn:hover{
    border-color: var(--menu-foreaccent);
    color: var(--menu-foreaccent);
}
.resizer{
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    background-color: transparent;
}
.resizer:hover{
    cursor: n-resize;
}
.winfilter-holder > input[type='radio']{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    box-shadow: 0 0 3px 0px #49e256 inset;
    border: 1px solid #49e256;
    border-radius: 50%;
    outline: none;
}
.winfilter-holder > input[type='radio']:checked::before{
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
    background-color: #49e256;
}
.winfilter-holder > input[type='radio']:nth-child(2){
    box-shadow: 0 0 3px 0px #d3e249 inset;
    border: 1px solid #d3e249;
}
.winfilter-holder > input[type='radio']:nth-child(2):checked::before{
    background-color: #d3e249;
}
.winfilter-holder > input[type='radio']:nth-child(3){
    box-shadow: 0 0 3px 0px #e24949 inset;
    border: 1px solid #e24949;
}
.winfilter-holder > input[type='radio']:nth-child(3):checked::before{
    background-color: #e24949;
}
.terminal{
    top: 18px;
    left: 0;
    width: 100%;
    overflow-y: auto;
    max-height: 100px;
    height: 100px;
    font-size: 16px;
    padding: 8px;
}
.console-message{
    font-size: 11px;
    margin: 2px 0;
    color: #fff;
}
.console-message .info{
    color: var(--msg-info);
}
.console-message .message{
    color: var(--msg-message);
}
.console-message .warning{
    color: var(--msg-warning);
}
.console-message .error{
    color: var(--msg-error);
}
.console-message .fatal{
    color: var(--msg-fatal);
}
.console-message .msg-detail{
    opacity: .8;
    font-weight: 100;
}
.topnav{
    width: 100%;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 80px;
    padding: 0 var(--w64);
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.menu-level{
    display: flex;
    list-style-type: none;
}
.menu-level .li{
    display: inline-block;

}
.flex-right{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 4px;
}
.menu-item{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    white-space: nowrap;
    color: var(--menu-forecolor);
    line-height: 100%;
    padding: 6px 10px;
    transition: var(--transition-mid);
}
.menu-item.active{
    color: var(--menu-foreaccent);
}
.menu-item.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--menu-foreaccent);
    transition: opacity .3s, transform .3s;
}
.menu-item:hover{
    color: var(--menu-foreaccent);
    cursor: pointer;
    text-shadow: 0 0 2px #775804, 0 0 4px #fff, 0 0 6px #e6a900, 0 0 8px #e2cb49, 0 0 10px #faf2c2
}
.menu-item.icon{
    font-size: 16px;
    padding: 6px 12px;
}
.highlited{
    color: var(--menu-highlight);
}

.switch-container{
    position: absolute;
    right: 0;
    margin-right: 6px;
    border: solid 1px #ffffff33;
    opacity: 70%;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 32px;
    margin: 2px;
}
.hidden {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    top: 2px;
    background-color: white;
    -webkit-transition: var(--transition-fast);
    transition: var(--transition-fast);
}
.switch-toggle:checked + .slider {
    background-color: #2196F3;
}
.switch-toggle:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.switch-toggle:checked + .slider:before {
    -webkit-transform: translateY(16px);
    -ms-transform: translateY(16px);
    transform: translateY(16px);
}
.slider.round {
    border-radius: 18px;
}
.slider.round:before {
    border-radius: 50%;
}

.content{
    padding: 0 var(--w64);
    height: 100%;
    overflow: auto;
}
.btn{
    padding: 12px 32px;
    line-height: 150%;
    height: 48px;
    color: var(--menu-foreaccent);
    background-color: var(--primary-bg);
    border: outset 1px #75b8f0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    transition: var(--transition-mid);
}
.on-the-glass{
    width: 100%;
    box-shadow: 2px 2px 4px 1px #8c8e9177;
}
.btn:not(.disabled):hover{
    color: var(--menu-highlight);
    border: outset 1px var(--disable-bg);
}
.disabled{
    cursor: auto;
    background-color: var(--disable-bg);
    border-color: #aeb3b7;
}
.ribbon{
    overflow-x: auto;
    white-space: nowrap;
    align-items: flex-start;
}
.server-container{
    position: relative;
    height: 50px;
    margin: 0 4px;
    padding: 0 8px;
    border: solid 1px var(--text-gray);
    border-radius: 8px;
    transition: var(--transition-mid);
}
.server-container.opened{
    height: 100%;
}
.server-name{
    min-width: 170px;
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.dropdown::before,
.dropdown::after{
    position: absolute;
    content: '';
    right: 4px;
    top: 4px;
    background-color: transparent;
    width: 2px;
    height: 10px;
    display: inline-block;
    border-bottom: 12px solid var(--text-color);
    transition: var(--transition-fast);
}
.dropdown::before{
    transform: rotate(45deg);
}
.dropdown::after{
    right: 11px;
    transform: rotate(-45deg);
}
.dropdown:hover{
    cursor: pointer;
}
.stats{
    display: block;
    transform: scaleY(1);
    transform-origin: 50% 0;
    transition: var(--transition-fast);
}
.collapsed{
    transform: scaleY(0);
}
.dropdown.opened::before{
    transform: rotate(-45deg)
}
.dropdown.opened::after{
    transform: rotate(45deg);
}

#api-loader{
    display:none; 
    position:fixed; 
    top:10px; 
    right:10px; 
    background:#333; 
    color:#fff; 
    padding:5px 10px; 
    border-radius:5px;
}
.flashtext{
    animation: flashText var(--transition-slow) ease-in-out;
    animation-iteration-count: 3;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.toast {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  

@keyframes flashText { 
    0%{
		text-shadow: rgba(255,221,0,0.9) 0px 0px 0px;
	}
	100%{
		text-shadow: rgba(255,221,0,0.9) 0px 0px 10px;
	}
}
